*{
    margin: 0;
    padding: 0;
}
.reservation{
    position: relative;
    min-height:100vh;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(/images/back2.jpg); */
    background-image: url(/images/back2.jpg);
    background-size: cover;
}
.inner{
    background-color:#fff;
    width: 60vw;
    height: 70vh;
    padding: 50px 50px 10px 50px;
    padding-top: 50px;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: space-around;
}

.inner section{
    margin-bottom:100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    text-align: start;
}
.reservation .tranmission{
    display: flex;
    flex-direction: column;
}
.reservation .tranmission >div {
    display: flex;
    width: 105%;
    /* height: 50%; */
    text-align: center;
}
.reservation .tranmission >div >div{
    margin-right: 140px;
}
.fuel >div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
section h1{
    display: flex;
    justify-content: flex-end;
}
#placeHolder{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

}
.inner section .tranmission{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.border{
    background-color: black;
    color: #ff7200;
    padding: 15px;
    display: flex;
}
label{
    font-size: 20px;
    font-weight: 500;
}
section h2{
    margin-bottom:20px;
    text-decoration: 4px underline #ff7200;
}
select{
    border: none;
    outline: none;
    border:2px solid;
    padding:0 40px;
}
select,input{
    font-size: 17px;
    font-weight: 500;

}
.inner button{
    font-size: 17px;
    font-weight: 500;  
    background-color: black;
    color: #ff7200;
    padding:10px 25px;
}
input{
    border: none;
    border-bottom:2px solid;
    outline: none;
}
.day{
  display: flex;
  flex-direction: row;
}
.swal2-styled.swal2-confirm {
    background-color: #ff7200 !important;
}
.swal2-html-container {
    font-weight: bold !important;
    font-size: 140%;
    color: #000;
}


@media only screen and (max-width: 768px) {
   .inner{
    width: 90vw;
    height: 100vh;
    height: auto !important;
    margin-top: 90px;
    margin-bottom: 50px;
   }
   .contenu{
       flex-direction: column;
       height: 80%;
   }
   .fuel >div {
    flex-direction: column;
}
.reservation .tranmission >div {
    flex-direction: column;
}
.reservation .tranmission >div >div {
    margin-right: 0 !important;

}
.reservation .tranmission >div {
    text-align: left !important;
}
select {
    padding: 0 !important;
}

.inner section {
    margin-bottom: 0 !important;
}
input{
    width: 100px;
        
}
.confirmed{
    margin-top: 40px;
    text-align: center;

    
}